@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #020617;
    color: white;
    overflow-x: hidden;
    /* Cursor por defecto oculto en PC para usar el personalizado */
    cursor: none; 
  }
}

/* Personalización del Scrollbar (La barra de la derecha) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: rgba(6, 182, 212, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(6, 182, 212, 0.6);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(6, 182, 212, 0.3) #020617;
}

/* Desactivar cursor personalizado en móviles */
@media (pointer: coarse) {
  html, body, #root {
    cursor: auto;
  }
  .custom-cursor {
    display: none;
  }
}
